<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ToDo List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <div class="banner-container">
            <h1 class="banner-content">
                Bounties
            </h1>
        </div>
        <div class="task-container">
            <div class="add-task-list">
                <form class="form-box" method="post">
                    <input class="input-item" name="task" placeholder="I need to get this done...">
                    <button class="submit-button" type="submit" action="/todo">Add To List</button>
                </form>        
            </div>
            <div class="task-list">
                <% jsonBody.forEach((todo) => { %>
                    <div class="width80">
                        <form action="/todo/<%=todo._id%>" method="POST">
                            <input type="text" value="<%= todo.task %>" class="todo-item" name="task"> 
                                <button class="edit-button" type="submit">Update</button>
                            </input>
                        </form>    
                    </div>
                    <div class="width20">
                        <a href="/todo/delete/<%=todo._id%>"><button class="delete-button">Delete</button></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>