/* BASE */
body {
    background: linear-gradient(to bottom left, #5ad1e0, #138aeb) no-repeat center center fixed;
    display: grid;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background: #51d67d;
    color: black;
    font-size: large;
    border-radius: 5px;
    width: 7em;
    height: 2em;
}

input.todo-item {
    background-color: transparent;
    font-size: large;
    border: unset;
    width: 20em;
    cursor: pointer;
}

/* banner classes */
.banner-container {
    background-color: #413e3e;
    width: 100%;
    height: 5em;
    margin: auto auto 3em auto;
}

.banner-content {
    color: white;
    text-align: center;
}


/* todo items classes */
.form-container {
    display: block;
}

.form-box {
    min-width: 50%;
    text-align: center;
}

.task-container {
    margin: auto;
    background-color: rgba(253, 253, 253, 0.1);
    padding: 5em 10em;
}

.add-task-list {
    color: white;
    margin: auto;
    padding: 1em 1em;
}

.task-list {
    color: white;
    margin: auto;
    padding: 1em 1em;
    width: 80%;
}

.width80 {
    float: left;
    width: 80%;
    overflow: hidden;
}

.width20 {
    width: 20%;
    float: right;
    overflow: hidden;
}

.todo-item {
    margin: 0;
    text-align: left;
    min-width: 5em;
}

.input-item {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 1em 1em;
    text-align: left;
    min-width: 20em;
    min-height: 3em;
    border: thin;
    border-radius: 5px;
}

/* buttons */
.delete-button {
    float: right;
    background: rgb(243, 108, 54);
    margin: 0 0 0 2em;
    width: 6em;
}

.submit-button {
    width: 30;
    color: white;
}

.edit-button {
    float: right;
    background: rgb(13, 212, 102);
    overflow: hidden;
    color: white;
    /* margin: 0 0 0 2em; */
    /* width: 6em; */
}